# Python cache and compiled files
__pycache__/
*.py[cod]

# Django database
db.sqlite3

# Virtual environments
venv/
env/
*.env

# VSCode or IDE files
.vscode/
.idea/

# OS-generated
.DS_Store
RewardsHub/logs/django.log

# Logs
*.log
RewardsHub/logs/
